<style>
    .anchorhover:hover {
        color: deepskyblue !important;
    }

    #tableDiv {
        overflow-x: scroll;
    }

    .panel-heading {
        padding: 10px 15px;
        background: #AAAAA6 !important;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .panel-body {
        padding: 15px;
        background-color: #e3e3e3;
    }

    @media (min-width: 992px) {
        .col-md-4 {
            width: 29.333333%;
            margin: 0% 2% 0% 2%;
        }

        .col-md-3 {
            width: 22%;
            margin: 0% 1.5% 0% 1.5%;
        }

        .palabel {
            width: 18.666667%;
        }

        .dp-left-margin {
            margin-left: -6%;
        }

        md-input-container {
            display: inline-block;
            position: relative;
            padding: 2px;
            margin: 10px 0;
            vertical-align: middle;
        }
    }


    md-input-container .md-input {
        border-radius: 4px;
    }

    md-input-container > md-select {
        border-radius: 5px;
        border-bottom: 1px solid rgba(0,0,0,0.12);
    }

    .panel-body h4 {
        color: #ED521C;
        padding-bottom: .6%;
    }
</style>
<div>
    <div class="panel-group">
        <div class="panel panel-default" ng-show="showSCForm||SubContractorsList.length == 0">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-10 col-md-10 col-lg-10">
                        <h3 class="panel-title">
                            <i class="fa fa-plus-circle" aria-hidden="true" ng-click="showAddform()" tooltip-html-unsafe="add subcontractor" tooltip-placement="bottom"></i>
                            Add SubContractor
                        </h3>
                    </div>
                    <div class="col-xs-2 col-xs-2 col-lg-2" style="text-align:right;">
                        <i class="fa fa-expand" aria-hidden="true" ng-click="showAddform()"></i>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <md-content>
                    <form name="newSubContractorForm" ng-submit="addSubContractor()" style="margin-bottom:0px;" ng-disabled="!isEditable">
                        <fieldset ng-disabled="!isEditable">
                            <md-content layout-padding>

                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 style="margin-left: 2%;">Project Information</h4>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label style="cursor:pointer">Contractor Name</label>
                                                <!--<md-icon class="md-dark" arial-label="ContractorName" style="color:#0094ff"><i class="fa fa-user" style="font-size: 20px;"></i></md-icon>-->
                                                <input id="ContractorName" name="ContractorName" ng-model="contractor.subcontractor_name" minlength="4" maxlength="30" required>
                                                <div ng-messages="newSubContractorForm.ContractorName.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">Name is required</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 30 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Project</label>
                                                <!--<md-icon class="md-dark" arial-label="project_id" style="color:#ff006e"><i class="fa fa-map-marker" style="font-size: 20px;"></i></md-icon>-->
                                                <md-select name="project_id" ng-model="contractor.project_id" required>
                                                    <md-option ng-repeat="project in projectslists" ng-value="project.id">
                                                        {{project.project_name}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="newSubContractorForm.project_id.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">* Mandatory.</div>
                                                    <div ng-message-exp="['required', 'pattern']">
                                                        10 Chars.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Contact Number</label>
                                                <!--<md-icon class="md-dark" arial-label="current_contactNumber" style="color:#ff006e"><i class="fa fa-phone" style="font-size: 20px;"></i></md-icon>-->
                                                <input required mask="+99 9999999999" name="current_contactNumber" ng-model="contractor.current_contact_number" minlength="8" maxlength="15">
                                                <div ng-messages="newSubContractorForm.current_contactNumber.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">* Mandatory.</div>
                                                    <div ng-message-exp="['required', 'pattern']">
                                                        10 Chars.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                        </div>

                                        <h4>Company Details</h4>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Company Name</label>
                                                <!--<md-icon class="md-dark" arial-label="company_name" style="color:#0094ff"><i class="fa fa-cloud" style="font-size: 20px;"></i></md-icon>-->
                                                <input id="company_name" name="company_name" ng-model="contractor.company_name" minlength="4" maxlength="30" required>
                                                <div ng-messages="newSubContractorForm.company_name.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 30 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Registraton Number</label>
                                                <!--<md-icon class="md-dark" arial-label="reg_No" style="color:#0094ff"><i class="fa fa-key" style="font-size: 20px;"></i></md-icon>-->
                                                <input type="text" id="reg_No" name="reg_No" ng-model="contractor.reg_No" minlength="4" maxlength="20" required>
                                                <div ng-messages="newSubContractorForm.reg_No.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 20 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                        <div class="col-md-12">
                                            <label style="margin-bottom: -7px;color:rgb(158, 158, 158);font-size: 11px;">Corporation File</label>
                                            <md-input-container class="md-block">
                                                <div class="col-md-12">
                                                    <input type="file" name="c_file" id="c_file" ng-model="aggrement_file" base-sixty-four-input>
                                                </div>
                                                <div ng-messages="newSubContractorForm.aggrement_file.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        Please Upload Agreement.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Address</label>
                                                <!--<md-icon class="md-dark" arial-label="current_street" style="color:#0094ff"><i class="fa fa-address-card-o" style="font-size: 20px;"></i></md-icon>-->
                                                <input id="current_street" name="current_street" ng-model="contractor.current_street" minlength="4" maxlength="50" required>
                                                <div ng-messages="newSubContractorForm.current_street.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 50 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4 style="margin-left: 2%;">Contact Information</h4>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Country</label>
                                                <!--<md-icon class="md-dark" style="color:#4800ff"><i class="fa fa-map-marker" style="font-size: 20px;"></i></md-icon>-->
                                                <md-select name="current_country" ng-model="contractor.current_country" ng-change="getCountryStates(contractor.current_country)" required>
                                                    <md-option ng-repeat="country in CountriesList" ng-value="country.id">
                                                        {{country.country_name}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="newSubContractorForm.current_country.$error" role="alert">
                                                    <div ng-message="required">* Mandatory.</div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>State</label>
                                                <!--<md-icon class="md-dark" style="color:#036918"><i class="fa fa-map-marker" style="font-size: 20px;"></i></md-icon>-->
                                                <md-select name="current_state" ng-model="contractor.current_state" ng-change="getStateCities(contractor.current_state)" ng-disabled="!states.length" required>
                                                    <md-option ng-repeat="state in states" ng-value="state.id"> {{state.state_name}} </md-option>
                                                </md-select>
                                                <div ng-messages="newSubContractorForm.current_state.$error" role="alert">
                                                    <div ng-message="required">* Mandatory.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>City</label>
                                                <!--<md-icon class="md-dark" arial-label="current_city" style="color:#ff6a00"><i class="fa fa-map-marker" style="font-size: 20px;"></i></md-icon>-->
                                                <md-select name="current_city" ng-model="contractor.current_city" ng-disabled="!cities.length" required>
                                                    <md-option ng-repeat="city in cities" ng-value="city.id">
                                                        {{city.city_name}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="newSubContractorForm.current_city.$error" role="alert">
                                                    <div ng-message="required">* Mandatory.</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>ZIP #</label>
                                                <!--<md-icon class="md-dark" arial-label="zip" style="color:#ff006e"><i class="fa fa-map-marker" style="font-size: 20px;"></i></md-icon>-->
                                                <input type="number" required name="zip" ng-model="contractor.current_zip" ng-keypress="limitKeypress($event,contractor.current_zip,6)" />
                                                <div ng-messages="newSubContractorForm.zip.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">* Mandatory.</div>
                                                    <div ng-message-exp="['required', 'pattern']">
                                                        6 Numbers only.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Alternative Contact Number</label>
                                                <!--<md-icon class="md-dark" arial-label="alternative_contactNumber" style="color:#ff006e"><i class="fa fa-phone" style="font-size: 20px;"></i></md-icon>-->
                                                <input mask="+99 9999999999" name="alternative_contactNumber" ng-model="contractor.alternative_contactNumber" minlength="8" maxlength="15">
                                                <div ng-messages="newSubContractorForm.alternative_contactNumber.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">* Mandatory.</div>
                                                    <div ng-message-exp="['required', 'pattern']">
                                                        12 Numbers only.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Email Address</label>
                                                <input required type="email" name="contractoremail" ng-model="contractor.email_id" style="text-transform: lowercase;"
                                                       minlength="6" maxlength="30" ng-pattern="/^.+@.+\..+$/" />
                                                <div ng-messages="newSubContractorForm.contractoremail.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">* Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        Valid Email within 6 to 30 characters.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <label>Select Components</label>

                                        <!--<div class="col-md-12" style="overflow-y: scroll;height: 80px;border: 1px solid rgba(0, 0, 0, 0.15);padding: 10px;">
                                            <div layout="row" layout-wrap flex>
                                                <div flex="50" ng-repeat="comp in ComponentsList|filter:{project_id:contractor.project_id}" ng-value="comp.id" ng-model="comp.component">
                                                    <md-checkbox ng-checked="exists(comp, selected)" ng-click="toggle(comp, selected)">
                                                        {{ comp.component }} <span ng-if="exists(comp, selected)"></span>
                                                    </md-checkbox>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div style="height:40%;overflow:scroll;border: 1px solid rgba(0, 0, 0, 0.15);padding:2px;">
                                                        <span style="padding:4px;" ng-repeat="comp in ComponentsList">
                                                            <input type="checkbox" ng-model="checkedStatus" ng-checked="isSelected(comp)" ng-change="addOrRemoveComp(comp,checkedStatus)">{{comp.component}}<br />
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <span ng-repeat="selcomp in scomponentslist">{{selcomp.component_name}},<br /></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            Select Subcontractor image
                                            <md-input-container class="md-block">

                                                <img style="height:70px;cursor: pointer;" class="img-circle" id="imgcontractorphoto" data-ng-src="{{photofile}}" />
                                                <input type="file" id="s_file" name="s_file" ng-model="photo_file" base-sixty-four-input style="opacity: 0;margin-top: -11%;" />

                                                <div ng-messages="newSubContractorForm.photofile.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 10 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                        <h4 style="margin-left: 2%;">Accounts Information</h4>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Bank Name</label>
                                                <!--<md-icon class="md-dark" arial-label="bank_name" style="color:#0094ff"><i class="fa fa-bank" style="font-size: 20px;"></i></md-icon>-->
                                                <input type="text" id="bank_name" name="bank_name" ng-model="contractor.bank_name" minlength="4" maxlength="50" required>
                                                <div ng-messages="newSubContractorForm.bank_name.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 50 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Branch Name</label>
                                                <!--<md-icon class="md-dark" arial-label="branchName" style="color:#0094ff"><i class="fa fa-bank" style="font-size: 20px;"></i></md-icon>-->
                                                <input type="text" id="branchName" name="branchName" ng-model="contractor.bank_branch" minlength="4" maxlength="50" required>
                                                <div ng-messages="newSubContractorForm.branchName.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 50 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Bank Account Number</label>
                                                <!--<md-icon class="md-dark" arial-label="bankAccNo" style="color:#0094ff"><i class="fa fa-credit-card-alt" style="font-size: 20px;"></i></md-icon>-->
                                                <input type="text" id="bankAccNo" name="bankAccNo" ng-model="contractor.bank_account_no" minlength="10" maxlength="15" required>
                                                <div ng-messages="newSubContractorForm.bankAccNo.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        12 numbers.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>IFSC Code</label>
                                                <input type="text" id="ifscCode" name="ifscCode" ng-model="contractor.ifsc" minlength="4" maxlength="20" required>
                                                <div ng-messages="newSubContractorForm.ifscCode.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 20 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>ServiceTax Number</label>
                                                <!--<md-icon class="md-dark" arial-label="ServiceTaxNo" style="color:#0094ff"><i class="fa fa-address-card-o" style="font-size: 20px;"></i></md-icon>-->
                                                <input type="text" id="ServiceTaxNo" name="ServiceTaxNo" ng-model="contractor.service_tax_no" minlength="4" maxlength="15" required>
                                                <div ng-messages="newSubContractorForm.ServiceTaxNo.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 15 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>PAN Number</label>
                                                <!--<md-icon class="md-dark" arial-label="PANCardNo" style="color:#0094ff"><i class="fa fa-credit-card-alt" style="font-size: 20px;"></i></md-icon>-->
                                                <input type="text" id="PANCardNo" name="PANCardNo" ng-model="contractor.pan" minlength="4" maxlength="30" required>
                                                <div ng-messages="newSubContractorForm.PANCardNo.$error" role="alert" class="ng-messages">
                                                    <div ng-message="required">*Mandatory.</div>
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        4 to 30 chars.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-12">

                                            <button ng-show="addcon" class="btn btn-sm btn-info" type="submit">Register</button>
                                            <input type="button" value="Update" ng-show="updatecon" class="btn btn-sm btn-info" ng-click="updateContractor()" />

                                        </div>

                                    </div>
                                </div>


                                <!--<div class="panel-footer" style="height:40px; padding-right: 0px; padding-top:5px">

                                </div>-->
                            </md-content>
                        </fieldset>
                    </form>
                </md-content>
            </div>
        </div>
        <div class="panel panel-default" ng-show="SubContractorsList.length != 0">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-xs-9">
                        <h3 class="panel-title" style="height: 30px;line-height: 30px;">SubContractors Information</h3>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3" style="text-align: right;">
                        <button class="btn btn-sm btn-primary" ng-click="showAddform()">Add SubContractor</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search" ng-model="filterSubcontractor">
                        </div>
                    </div>
                </form>
                <table class="table table-responsive table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr style="background:#e3e3e3;color:white;">
                            <th colspan="2" style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px; width:11% ;">
                                <select ng-model="search.project_name" class="form-control" ng-options="subj.project_name as subj.project_name  for subj in SubContractorsList|unique:'project_name'" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                                    <option value="" style="text-align:center;">All</option>
                                </select>
                            </th>
                            <th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px; width:12%;">
                                <select ng-model="search.subcontractor_name" class="form-control" ng-options="subj.subcontractor_name as subj.subcontractor_name for subj in SubContractorsList" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                                    <option value='' style="text-align:center;">All</option>
                                </select>
                            </th>
                            <th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px; width:13%;">
                                <select ng-model="search.company_name" class="form-control" ng-options="subj.company_name as subj.company_name for subj in SubContractorsList" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                                    <option value='' style="text-align:center;">All</option>
                                </select>
                            </th>
                            <th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px;width:11%;">
                                <select ng-model="search.service_tax_no" class="form-control" ng-options="subj.service_tax_no as subj.service_tax_no for subj in SubContractorsList" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                                    <option value=''>All</option>
                                </select>
                            </th>
                            <th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px;width:12%;">
                                <select ng-model="search.pan" class="form-control" ng-options="subj.pan as subj.pan for subj in SubContractorsList" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                                    <option value='' style="text-align:center;">All</option>
                                </select>
                            </th>
                            <!--<th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px;width:14%;" background:#808080;color:white;">
                                <select ng-model="search.bank_account_no" class="form-control" ng-options="subj.bank_account_no as subj.bank_account_no for subj in SubContractorsList" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                                    <option value='' style="text-align:center;">all</option>
                                </select>
                            </th>
                            <th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px;width:11%;" background:#808080;color:white;">
                                <select ng-model="search.created_date" class="form-control" ng-options="subj.created_date as subj.created_date for subj in SubContractorsList" style="font-size: 12px;height: 25px;padding: 4px 12px !important;">
                                    <option value='' style="text-align:center;">all</option>
                                </select>
                            </th>-->
                            <th style="padding: 0px 0px 0px 0px; margin: -7px 0px 0px 0px;width:12%;" colspan="4"></th>
                        </tr>
                        <tr style="background:#808080;color:white;">
                            <th style="text-align: center;vertical-align: middle;width:2%;">SNo</th>
                            <th style="text-align: center;vertical-align: middle;width:10%;">
                                <a href="#" class="anchorhover" ng-click="sortType = 'project_name'; sortReverse = !sortReverse" style="color:cornsilk;">
                                    Project Name
                                </a>
                            </th>
                            <th style="text-align: center;vertical-align: middle;width:10%;">
                                <a href="#" class="anchorhover" ng-click="sortType = 'subcontractor_name'; sortReverse = !sortReverse" style="color:cornsilk;">
                                    Contractor Name
                                </a>
                            </th>
                            <th style="text-align: center;vertical-align: middle;width:10%;">
                                <a href="#" class="anchorhover" ng-click="sortType = 'company_name'; sortReverse = !sortReverse" style="color:cornsilk;">
                                    Company Name
                                </a>
                            </th>
                            <th style="text-align: center;vertical-align: middle;width:10%;">Service Tax No</th>

                            <th style="text-align: center;vertical-align: middle;width:10%;">PAN Number</th>
                            <th style="text-align: center;vertical-align: middle;width:10%;">Bank Account No</th>
                            <th style="text-align: center;vertical-align: middle;width:10%;">
                                <a href="#" class="anchorhover" ng-click="sortType = 'created_date'; sortReverse = !sortReverse" style="color:cornsilk;">
                                    Created Date
                                </a>
                            </th>
                            <th style="text-align: center;vertical-align: middle;width:5%;"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Form</th>
                            <th style="text-align: center;vertical-align: middle;width:5%;">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="subcont in SubContractorsList|filter:filterSubcontractor|filter:{project_name: search.project_name || undefined,
                            subcontractor_name: search.subcontractor_name || undefined,
                            company_name: search.company_name || undefined,
                             service_tax_no: search.service_tax_no || undefined,
                             pan: search.pan || undefined,
                             created_date: search.created_date || undefined,
                            }:true|itemsPerPage:person.levels|orderBy:sortType:sortReverse">
                            <td style="text-align: center;vertical-align: middle;">{{subcont.id}}</td>
                            <td style="text-align: center;vertical-align: middle;">{{subcont.project_name}}</td>
                            <td style="text-align: center;vertical-align: middle;">
                                <a href="#" popover-template="'Scripts/Registration/contractorViewTemplate.html'" popover-placement="right" data-popover-trigger="mouseenter" popover-title="{{dynamicPopover.title}}" ng-mouseover="subcontractorView(subcont.id)">{{subcont.subcontractor_name}}</a>
                            </td>
                            <td style="text-align: center;vertical-align: middle;">{{subcont.company_name}}</td>
                            <td style="text-align: center;vertical-align: middle;">{{subcont.service_tax_no}}</td>
                            <td style="text-align: center;vertical-align: middle;">{{subcont.pan}}</td>
                            <td style="text-align: center;vertical-align: middle;">{{subcont.bank_account_no}}</td>
                            <td style="text-align: center;vertical-align: middle;">{{subcont.created_date| date :  "MMM d, y"}}</td>
                            <td style="text-align: center;vertical-align: middle;">
                                <a target="_self" href="" ng-click="downLoadImage(subcont.agreement,subcont.subcontractor_name,subcont.agreement_file_type)" download="Agreement.pdf">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true" data-toggle="tooltip" title="Agreement Form" style="font-size:16px;color: #000000;"></i>
                                </a>
                            </td>
                            <th style="text-align: center;vertical-align: middle;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 16px;cursor:pointer;" ng-click="EditSubcontractorDetails(subcont)"></i></th>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-10" style="margin-bottom: 0px -35px -13px">
                        <dir-pagination-controls max-size="5"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                        <select name="level" ng-model="person.levels" ng-options="obj.value as obj.label for obj in person.levelsArr" style="position: absolute;top: 20px;height: 34px;"></select>
                    </div>
                    <!--<div class="col-lg-2" style="margin-top: 26px;">
                        <button class="btn btn-sm btn-info" ng-click="showAddform()" type="submit">Register</button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>