<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" ng-click="showAddIndentform()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Warehouse Material Details
                <button data-dismiss="modal" style="float:right;" ng-click="closewarehousemodal()" type="button" class="close">x</button>
            </h3>
        </div>
        <div class="row" style="margin-left:20px;margin-top:10px;">
            <div class="col-sm-4">Indent No: <b>{{indentNo}}</b></div>
            <div class="col-sm-8">Indent Created Date: <b>{{created_Date| date :  "MMM d, y"}}</b></div>
        </div>

        <div class="panel-body">
            <div id="inputContainer" ng-cloak>
                <md-content layout-padding>
                    <h4>Materials List</h4>
                    <table class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr style="background:teal;color:white;">
                                <th style="width:2%;text-align:center;">S.No</th>
                                <th style="width:3%;text-align:center;">Material</th>
                                <th style="width:3%;text-align:center;">Raised Quantity</th>
                                <th style="width:3%;text-align:center;">Released Quantity</th>
                                <th style="width:3%;text-align:center;">Status Changed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="warehouse in WarehouseDetailsList|filter:{indent_no:indentNo}:true">
                                <td style="text-align:center;"> <i style="border-radius:50px; background-color:#0bbbdc; text-align:center; font-weight:bold; border-color:#808080; padding:2px 5px;">{{$index+1}}</i></td>
                                <td style="width:2%;text-align:center;">{{warehouse.material_name}}</td>
                                <td style="width:2%;text-align:center;">{{warehouse.raised_quantity}}</td>
                                <td style="width:2%;text-align:center;">
                                    <input type="text" id="given_quantity" ng-model="warehouse.given_quantity" ng-blur="comparefunc(warehouse)" required />
                                </td>
                                <td style="width:2%;text-align:center;">
                                    <input type="checkbox" ng-model="warehouse.material_released_status" ng-change="getdetails(warehouse)" required />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-content>
                <div class="panel-footer" style="height:40px; padding-right: 0px; padding-top:5px">
                    <div class="col-lg-12" style="text-align:right;">
                        <button class="btn btn-sm btn-info" ng-click="updateMaterialDetails()" aria-hidden="false">Update</button>
                        <button class="btn btn-sm btn-info" ng-click="closewarehousemodal()" aria-hidden="false">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
