<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="background:#FF9800; height:40px; color:white; width:498px; font-family:Calibri;border:1px #FF9800 solid; ">
        <h3 style="text-align:center; margin-top: 10px;">
            Welcome to Projects!
            <!--<img src="../../Content/images/Common/logo_mini.png" style="width:40px; height:30px; position: absolute; top: 5px;" />-->
        </h3>
    </div>
    <div style="border:0px #0094ff solid; background:white; height:390px; color:#000000; padding-left:0px; padding-right:0px; width:498px; font-family:Calibri;">
        <br />
        Dear Mr. !User
        <p>Congratulations!</p>
        <p style="text-align:justify">
            You have been provided access to Projects. Now you can go ahead with accessing our application.
        </p>
        <p>
            The below are your credentials to login:
        </p>
        <p>
            UserID: <b>!uid</b><br />
            Password: <b>!pwd</b>
        </p>
        <p>
            For further assistance please contact to Projects support team.
        </p>
        <br />
        <p>
            Thanks & Regards<br />
            Projects Team
            <br />
            <span style="font-size:11px">
                <span class="fa fa-skype" style="margin-top: 10px; width:100px; "><span style="font-family:Calibri;">|</span></span>
                <span class="fa fa-envelope-o" style="margin-top: 10px; width:125px; ">&nbsp;<span style="font-family:Calibri;">support@tapclouds.com  | </span></span>
                <span class="fa fa-phone" style="margin-top: 10px; width:90px;">&nbsp;<span style="font-family:Calibri;"> +91 7207811996  | </span> </span>
                <!--<span class="fa fa-phone" style="margin-top: 10px; width:90px;">&nbsp;<span style="font-family:Calibri;"> +91 7799009005 | </span> </span>-->
            </span>
    </div>
    <div style="background:#666869; height:25px; color:white; text-align:center; width:490px; text-align:right; padding-right:10px; padding-top:5px; font-family:Calibri;">
        <span style="font-size:12px"> www.tapclouds.com</span>
    </div>
</body>
</html>
