
<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img style="width:30px; margin-top: 10px;" src="../../../Content/images/Common/logo_mini.png" /></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img style="height: 66px;margin-top: -6px;width: 125px;" src="../../../Content/images/Common/logo.png" /></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->

        <div class="navbar-custom-menu" style="margin-right: 10px;">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <!-- Menu toggle button -->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-th"></i>
                        <span class="label label-success">1</span>
                    </a>
                    <ul class="dropdown-menu hdropdown bigmenu">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <i class="fa fa-briefcase text-info"></i>
                                            <h5>Projects</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            <i class="fa fa-envelope-o text-warning"></i>
                                            <h5>Emails</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            <i class="fa fa-users text-success"></i>
                                            <h5>Contacts</h5>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <i class="fa fa-forumbee text-info"></i>
                                            <h5>Forum</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            <i class="fa fa-line-chart text-danger"></i>
                                            <h5>Analytics</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            <i class="fa fa-file-text text-success"></i>
                                            <h5>Files</h5>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </li>
                <!-- /.messages-menu -->
                <!--<li class="mainloguot" ng-controller="LogOutCtrl">
                    <a href="#" data-toggle="control-sidebar" ng-click="logout();" ng-if="Username"><i class="fa fa-power-off"></i></a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>